.main-cont{
  background-image: url('/public/Kaizen-bg.avif');
  height: 100vh;
  background-size:cover ;
  padding-top: 1rem;
  padding-left: 1rem;
  display: flex;
  flex-direction: row;
  justify-content:space-around;
}
.main-leftsection{
  width: 42%;
}
.main-rightsection{
  width: 42%;
}

@media (max-width:923px){
  .main-cont{
    padding-top: 0.65rem;
    padding-left: 0.4rem;
    background-size: cover;
    height:max-content;
    padding-bottom: 2rem;
  }
  .main-leftsection{
    width: 47%;
  }
  .main-rightsection{
    width: 47%;
  }
}

@media (max-width: 606px) {
  .main-cont {
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    height: auto;
  }

  .main-leftsection,
  .main-rightsection {
    width: 100%;
  }

  .main-leftsection {
    display: flex;
    flex-direction: column;
  }

  .about-wrapper {
    order: 1;
    margin-bottom: 1rem;
  }

  .contact-wrapper {
    order: 2;
    margin-bottom: 1rem;
  }

  .main-rightsection {
    order: 3;
  }
}